@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: center;
  z-index: 10;
  /* background:black */
}

footer {
  scroll-snap-align: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Target the autofill background */
input:-webkit-autofill {
  appearance: none;
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  color: inherit !important;
}

/* global.css */
/* .stack-card{
  will-change: transform;
} */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

/* For general inputs */
input,
textarea,
select {
  background-color: transparent;
  color: inherit;
}

@font-face {
  font-family: 'Blanka';
  src: url('/fonts/Blanka.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.blanka-font {
  font-family: 'Blanka', sans-serif;
}

.gradient-01 {
  background-image: radial-gradient(circle,
      hsla(0, 0%, 100%, 0.63) 0%,
      hsla(210, 100%, 58%, 0.60) 20%,
      hsla(201, 100%, 63%, 0.35) 45%,
      hsla(203, 100%, 8%, 0.69) 80%);
  filter: blur(150px);
  transform: rotate(-114deg);
  position: absolute;
  width: 450px;
  height: 100vh;
  left: 30%;
  top: 10%;
  z-index: 0;
  opacity: 0.35;
}

.gradient-02 {
  background-image: linear-gradient(270deg,
      hsla(0, 0%, 100%, 0.632) 0%,
      hsla(210, 100%, 58%, 0.598) 26%,
      hsla(201, 100%, 63%, 0.354) 39%,
      hsla(203, 100%, 8%, 0.689) 50%);
  /* hsl(215, 49%, 21%) 61%,
      hsl(221, 69%, 42%) 74%,
      hsla(220, 100%, 41%, 0.986) 100%); */
  filter: blur(125px);
  transform: rotate(-114.2deg);
  position: absolute;
  width: 405px;
  height: 100vh;
  left: 30%;
  top: 10%;
  z-index: 0;
  opacity: 0.5;
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(39, 151, 255, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: #487ed0;
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: #a5a9e1;
  filter: blur(200px);
  transform: rotate(53.13deg);
  /* filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black); */
}

.header-gradient {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 20%;
  top: 10%;
  border-radius: 50%;
  pointer-events: none;
  transform: rotate(120deg);
}

.one {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 20%;
  top: 10%;
  border-radius: 50%;

  background: radial-gradient(circle,
      rgba(14, 47, 103, 0.35) 0%,
      rgba(14, 47, 103, 0.25) 20%,
      rgba(14, 47, 103, 0.849) 40%,
      rgba(14, 47, 103, 0.08) 55%,
      rgba(14, 47, 103, 0.03) 65%,
      rgba(14, 47, 103, 0.769) 75%);

  filter: blur(200px);
}


/* .two {
  background: radial-gradient(circle,
      rgba(94, 89, 190, 0.087),
      transparent 70%);
  left: 45%;
  top: 20%;
    backdrop-filter: blur("10px");
} */



.gradient-06 {
  background-image: linear-gradient(rgb(195, 191, 191), rgba(67, 53, 148, 0.575));
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  /* background: #a5a9e1; */
  filter: blur(200px);
  transform: rotate(53.13deg);
}

a {
  color: white;
  text-decoration: none;
}

.embla {
  /* max-width: 48rem; */
  /* position: sticky; */
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 65%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=' text-']), :not(:has([class^='text-'])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}